SSAS_TABULAR_VAGAS_DW/SSIS_VAGAS_DW/bin/
SSAS_TABULAR_VAGAS_DW/SSAS_TABULAR_VAGAS_DW/obj/
SSAS_TABULAR_VAGAS_DW/SSAS_TABULAR_VAGAS_DW/bin/
SSAS_TABULAR_VAGAS_DW/SSAS_TABULAR_VAGAS_DW/obj/Development
SSAS_TABULAR_VAGAS_DW/SSAS_TABULAR_VAGAS_DW/obj/Debug
SSAS_TABULAR_VAGAS_DW/SSIS_VAGAS_DW/obj/Development
SSAS_TABULAR_VAGAS_DW/SSIS_VAGAS_DW/obj/Debug
SSAS_TABULAR_VAGAS_DW\SSAS_TABULAR_VAGAS_DW\SSAS_TABULAR_VAGAS_DW.smproj